{% extends "base_templates.html" %}

{% block title %}Registro de Instrumentos{% endblock %}

{% block content %}
<div class="container">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}
   
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}  <!-- Token CSRF para protección -->
        
        <div class="form-group {% if form.nombre.errors %}is-invalid{% endif %}">
            <label for="{{ form.nombre.id }}">{{ form.nombre.label }}</label>
            {{ form.nombre(class="form-control" + (' is-invalid' if form.nombre.errors else '')) }}
            {% for error in form.nombre.errors %}
                <div class="invalid-feedback">{{ error }}</div>  <!-- Mostrar errores -->
            {% endfor %}
        </div>

        <div class="form-group {% if form.familia.errors %}is-invalid{% endif %}">
            <label for="{{ form.familia.id }}">{{ form.familia.label }}</label>
            {{ form.familia(class="form-control" + (' is-invalid' if form.familia.errors else '')) }}
            {% for error in form.familia.errors %}
                <div class="invalid-feedback">{{ error }}</div>  <!-- Mostrar errores -->
            {% endfor %}
        </div>

       
        <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-block") }}  <!-- Botón de submit -->
        </div>
    </form> 
</div>
{% endblock %}
